<div class="container">
  <h2 class="center">Login</h2>
  <form action="">
    <div class="inputdiv">
      <label for="name" class="username">Username</label>
      <div class="userarea">
        <!--user icon-->
        <input type="text" name="name" id="name" placeholder="Type your username">
      </div>
      <hr>
    </div>
    <div class="inputdiv">
      <label for="password" class="username">Password</label>
      <div class="userarea">
        <!--user icon-->
        <input type="password" name="password" id="name" placeholder="Type your password">
      </div>
      <hr>
    </div>
    <span class="forgotpassword">Forgot password?</span>
    <button class="'btn">Login</button>
      <div class="formbot">
        <p>Or Sign Up using</p>
        <ul class="icons">
          <a href="#">
            <!--facebook icon-->
          </a>
          <a href="#">
            <!--twittor icon-->
          </a>
          <a href="#">
            <!--google icon-->
          </a>
        </ul>
        <p class="singnup">Or sign Up using</p>
        <p id="signup">SIGN UP</p>
      </div>
  </form>
</div>
